/* .center{
  margin: 7px;
  size: 50%;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid white;
  background-color: white;
  height: 150px;
  width: 220px;
  margin: 100px 70px 16px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  border-top: 5px solid #02ca98;
  justify-content: center;
  display: inline-block;
}

.card:hover {
  border: 2px solid #02ca98;
  border-top: 5px solid #02ca98;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
} */

.contPage{
  width: 100%;
  background-color: #fafafa;
  margin: 0;
}

.rowPage{
  padding: 15px;
}

.page{
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.alert-info{
  background-color: #F0F9FE;
  border:0px;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0px 10px;
  margin: 0 15px 15px;
}

.alert-info span{
  color: #3B77AB;
  margin-right: 5px;
}

.closeAlert{
  position: absolute;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.topOptions{
  position: absolute;
  right:35px;
  z-index: 2;
}

.categories{
  margin: 0 15px;
}

.categories ::ng-deep .mat-tab-header{
  border-bottom: none;
}

.categories ::ng-deep .mat-tab-label{
  min-width: 100px;
}

/*general classes*/
.mat-form-field .mat-icon{
  color: #959595;
  position: relative;
  top: 3px;
}

.mat-form-field.mat-focused .mat-icon{
  color: #02ca98;
}

.mat-stroked-button{
  border-color: #02ca98;
  color: #02ca98;
}

.mat-stroked-button.active{
  background-color: #02ca98;
  color: #fff;
}

.greenBtn{
  text-transform: unset;
}

.topOptions ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 10px 0;
}

.mat-card{
  text-align: center;
  padding: 10px 0 0;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0px 4px 1px #00000014;
  margin: 12px 0;
  transition: .2s;
}

.published:hover, .publishedActive{
  border: 2px solid #02ca98;
  background-color: #FCFFFE;
}

.publishedActive .cardIcon, .published:hover .cardIcon{
  color: #ffffff;
  background-color: #02ca98;
}
.publishedActive .material-icons{
  color: #fff;
  background-color: #02ca98;
}

.published{
  border-top-width: 5px !important;
  border-top-color: #02ca98;
}

.cardIcon{
  width: 38px;
  height: 38px;
  border: 1px solid;
  margin: auto;
  border-radius: 50%;
  padding: 6px;
  transition: .2s;
}

.published .cardIcon{
  border-color: #02ca98;
  color: #02ca98;
}

.surPeriod{
  margin-top: 20px;
  padding: 10px 10px 0;
  border-top: 1px solid #E8E8E8;
  color: #686868;
  height: 45px;
}

.surPeriod .mat-form-field{
  text-align: center !important;
  margin-top: -8px;
  padding-bottom: 5px;
}

.surCard ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: transparent;
}

.surCard ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent;
}

.surCard ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple, .surCard ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
  transition: none;
}

.surCard ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
}

.surCard{
  display: inline-block;
}

.expired:hover, .expired.publishedActive{
  border: 2px solid #8d8d8d !important;
  background-color: #F9F9F9 !important;
  border-top-width: 5px !important;
}

.expired{
  border-top: 5px solid #8d8d8d !important;
}

.expired .cardIcon{
  border-color: #8d8d8d;
  color: #8d8d8d;
}

.expired:hover .cardIcon, .expired.publishedActive .cardIcon, .expired.publishedActive .material-icons{
  color: #ffffff;
  background-color: #8d8d8d !important;
}

.sort{
  position: absolute;
  right: 35px;
  margin-top: 45px;
}

.sort .material-icons{
  color: #9F9DAA;
  border: 1px solid #9F9DAA;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  transition: .2s;
}

.sort .material-icons.active, .sort .material-icons:hover{
  background-color: #34314c;
  border-color: #34314c;
  color: #fff;
}

.alert-info ~ .categories ::ng-deep .mat-tab-body-wrapper{
  margin-top: 30px;
  height: 60vh;
}

.alert-info[hidden] ~ .categories ::ng-deep .mat-tab-body-wrapper{
  margin-top: 30px;
  height: 67vh;
}

@media screen and (max-height: 768px) {
  .alert-info ~ .categories ::ng-deep .mat-tab-body-wrapper{
      margin-top: 30px;
      height: 64vh;
  }
  .alert-info[hidden] ~ .categories ::ng-deep .mat-tab-body-wrapper{
      margin-top: 30px;
      height: 71vh;
  }
}

.categories ::ng-deep .mat-tab-label-active{
  opacity: 1;
}

.filterOp{
  width: 220px;
  border: 1px solid #D6D6D6;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0px 4px 1px #00000014;
  position: absolute;
  right: 0;
  top: 48px;
  background-color: #fff;
}

.filterOp::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -5px;
  left: 83%;
  border: 7px solid black;
  border-color: transparent transparent #fff #fff;
  transform: rotate(135deg);
  box-shadow: -2px 2px 3px 0 rgb(0 0 0 / 12%);
}

.noResults{
  position: absolute;
  left: 40%;
  top: 35%;
  text-align: center;
  color: #8c8c8c;
  font-size: 22px;
  text-transform: uppercase;
}

.noResults img{
  width: 300px;
  display: block;
}

table {
  width: 100%;
  box-shadow: none;
}

th.mat-sort-header-sorted {
  color: #757575;
}

td.mat-cell{
  vertical-align: middle;
}

td .material-icons{
  margin-top: 5px;
}

td .mat-radio-button{
  margin-top: 10px;
}

th{
  border-top: none;
}

tr.mat-header-row{
  height: 36px;
}

.cardName{
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rot-45{
  transform: rotate(-45deg);
}

.greenIcon{
  color: #02ca98;
}

.grayIcon{
  color: #8d8d8d;
}