<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="200px"
      height="80px"
      alt="khwarizmi"
      src="assets\images\khwarizmi.png"
    style="border-right: 1px solid black;"/>
    <span style="color: black;">Surveys</span>
    <span  class="profile-name" style="margin-left: 50px;color: black;">{{initials}}</span>
  </div>
  
  
  <div>
    <app-tabs class="tabs"></app-tabs>
  </div>
  
  
  <div class="content" role="main">
  
    <!-- Footer -->
    <footer>
        
    </footer>
  
  </div>
